<header class="site__header site__header--white">
    <div class="container">

        <a href="/" class="header-logo">
            <span class="hidden">MSG</span>
            <img alt="" data-echo="{{ '/img/logo.png' | prepend: site.baseurl }}"/>
        </a>

        <a class="header-hamburger" data-menu-trigger="toggle">
            <span class="header-hamburger__wrap">
                <span class="header-hamburger__line--top"></span>
                <span class="header-hamburger__line--middle"></span>
                <span class="header-hamburger__line--bottom"></span>

                <span class="header-hamburger__line--arrow-top"></span>
                <span class="header-hamburger__line--arrow-bottom"></span>
            </span>
        </a>

        <ul class="header-nav">
            <li><a href="{{ site.baseUrl }}/">Docs</a></li>
            <li><a href="https://blog.parseplatform.org">Blog</a></li>
        </ul>

    </div><!-- container -->
</header>
